/* Cabeçalho */
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 33px;
}

/* Categorias */
.categorias__lista {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.categorias__destaques,
.destaques {
  display: flex;
}

.destaques {
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.destaques__barra {
  flex-grow: 1;
}

/* Eventos */
.eventos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.eventos__item {
  flex-grow: 1;
  max-width: 400px;
}

.eventos__botao,
.agenda__botao {
  margin-top: 1rem;
  text-align: center;
}

/* Agenda */

.agenda__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.agenda__item {
  flex-grow: 1;
  max-width: 500px;
}

/* Rodapé */
.rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rodape__logo {
  align-self: end;
}

@media (min-width: 720px) {
  /* Cabeçalho */
  .menu {
    column-gap: 75px;
  }

  /* Categorias */
  .categorias__lista {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
  }

  /* Eventos */

  .eventos__botao,
  .agenda__botao {
    text-align: right;
  }
}

@media (min-width: 893px) {
  .rodape__logo {
    align-self: start;
    padding-left: 1rem;
  }
}

@media (min-width: 1440px) {
  /* Cabecalho */
  .menu {
    column-gap: 105px;
    flex-wrap: nowrap;
  }

  .menu__item {
    order: 3;
  }

  .menu__item:nth-child(1) {
    order: 1;
  }

  .menu__item:last-child {
    order: 2;
  }
}

@media (min-width: 1596px) {
  .agenda__lista,
  .eventos__lista {
    justify-content: end;
  }
}
